@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  background-color: rgb(203, 208, 211);
}

header,
footer {
  background-color: rgb(76, 100, 114);
  font-weight: bold;
  padding: 10px;
}

header {
  font-size: 2rem;
  color: rgb(216, 216, 216);
}

footer a{
  color:rgb(238, 237, 230);
  text-decoration: none;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  border: 1px
}

#content-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: auto;
}

#LandingPage,
#CreateCard,
#PreviewCard,
#ReceivedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-wrap{
  width: 85%;
  margin: 10px auto;
}

.img-wrap img {
  width: 100%;
  border: 5px solid #fff;
}

.message-wrap {
  font-family: 'Satisfy';
  font-size: 1.5rem;
}

/* ===============
    LANDING PAGE 
   =============== */

#LandingPage .instruction-wrap {
  padding: 10px;
}

.btn-wrap {
  margin: 10px;
}

.btn-wrap button {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  background-color: rgb(76, 100, 114);
  color: rgb(216, 216, 216);
  border: none;
  border-radius: 5px;
}

/* =============
    CREATE PAGE 
   ============= */

#form-wrap form textarea {
  resize: none;
}

#form-wrap form textarea,
#form-wrap form input {
  display: block;
  margin: auto;
}

/* ===========
    CARD VIEW 
   =========== */

#PreviewCard .message-wrap,
#RecievedCard .message-wrap {
  background-color: #b19c7a;
  background-image: url("./images/cardboard-flat.png");
  width: 85%;
  padding: 20px;
  border: 3px solid #57453ea2;
  box-shadow: inset 0px 0px 30px 2px #3a2c2660;
  font-family: 'Satisfy';
  font-size: 1.2rem;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  margin: 10px auto 10px;
}

.greeting-wrap,
.body-wrap {
  text-align: left;
}

.closing-wrap {
  text-align: right;
  align-self: flex-end;
}

/* ============
    BUTTON ROW 
   ============ */

#button-row {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 85%;
}

#button-row .btn-wrap {
  width: 50%;
  margin: 0;
}